<header class="w-100 top-bar_container">
  <nav class="navbar navbar-expand-lg ">
    <div class="container d-inline-flex justify-content-between align-items-center ">
      <h1 title="PayMe" class="navbar-brand">Pay<span>Me</span></h1>
      <ul class="nav d-inline-flex align-items-center">
        <li class="nav-item">
          <button class="nav-link px-2 nav-btn__user d-flex align-items-center" disabled aria-disabled="true"
                  aria-label="Botão para as ações do usuario">
            <img src="assets/images/rosto.webp" alt="Imagem do usuario">
          </button>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="nav-link px-2 nav-btn__sair d-flex align-items-center">
            <span>Sair</span>
            <i class="bi bi-box-arrow-right" size="22px"></i>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
