.top-bar {
  &__container {
    position: absolute;

    .top-bar__title {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.6rem;
      color: white;
      font-weight: bold;
      margin: 0;

      span {
        font-weight: 300;
        color: white;
      }
    }

    .top-bar__nav {
      background-color: #002d69;

      &-btn--logout {
        color: white;

        span {
          font-size: 1.1rem;
          font-weight: 300;
        }

        i {
          margin-left: 0.5rem;
          font-size: 20px;
        }
      }

      &-btn--user {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
