@import 'bootstrap/scss/bootstrap.scss';

.div-form-centered {
  width: 100%;
  border-radius: 8px;
  padding: 0.8rem;
}

@include media-breakpoint-up(sm) {
  .div-form-centered {
    width: 70%;
  }
}

@include media-breakpoint-up(md) {
  .div-form-centered {
    width: 60%;
  }
}

@include media-breakpoint-up(md) {
  .div-form-centered {
    width: 45%;
    max-width: 500px;
  }
}

.btn-submit-login {
  height: 48px;

}
.btn-submit-login[disabled] {
  cursor: not-allowed !important;
  background-color: #3a3a3a ;
  border: none;
}
