.task-modal {
  &__container {
    @media screen and (max-width: 768px) {
      .fs-form__group {
        margin-bottom: 1rem;
      }
    }

    &__btn-save[disabled] {
      cursor: not-allowed;
      background-color: #ccc !important;
      outline: none;
      border-color: transparent;
    }
  }
}
