.login-page {
  &__column-right {
    width: 40%;
    height: 100vh;
    background-color: #ececec;
  }

  &__column-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__login-img {
    width: 75%;
    height: 45%;
  }

  @media screen and (max-width: 992px) {
    &__column-left {
      display: none;
    }
    &__column-right {
      width: 100%;
    }
  }
}
