.login-page {
  .columnRight {
    width: 40%;
    height: 100vh;
    background-color: #ececec;
  }
  .columnLeft {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login_img_size {
    width: 75%;
    height: 45%;
  }

  @media screen and (max-width: 992px) {
    .columnLeft {
      display: none;
    }
    .columnRight {
      width: 100%;
    }
  }
}
