.dashboard__container {

  background-color: #e8e8e8;
  padding-top: 3rem;
  min-height: 100vh;
  height: 100%;

  .fs-input__search {
    position: relative;
    width: 320px;

    input {
      padding-right: 2.1rem;
      min-width: 280px;
    }

    span {
      position: absolute;
      right: 0.6rem;
      background-color: transparent;
      border: none;
      outline: none;
      margin-left: 0.3rem;
      > i {
        background-color: transparent;
        border: none;
        color: #484848;
        font-size: 1.2rem;
      }
    }
  }

  .dashboard-payments__container {
    background-color: white ;
    min-height: 50%;
    border-radius: 20px;
    padding-bottom: 2rem;
  }

  .fs-btn__filter {
    background-color: #ecf1f5;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    margin-left: 0.3rem;
    font-size: 0.9rem;
    font-weight: 400;
    > i {
      background-color: transparent;
      border: none;
      color: #484848;
      margin-right: 0.3rem;
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 768px) {
    .fs-input__search {
      width: 100%;
    }

    .form-button__add {
      width: 80%;
      margin-top: 0.5rem;
    }

    .dashboard-filter__container {
      flex-direction: column;
    }

    .div-form__fieldset {
      flex-direction: column;
    }
  }

  .dashboard-table__div {
    width: 92%;
    margin: 0 auto;

    button.table-btn__edit {
      border: none;
      background-color: transparent;
      outline: none;
      color: #198754;
    }
    button.table-btn__delete {
      border: none;
      background-color: transparent;
      outline: none;
      color: #dc3545;
    }

    .table-tr__head {
      th {
        cursor: pointer;
        :focus {
          outline: none;
        }
        i {
          font-size: 12px;
        }
      }
    }
  }
}
