<app-top-bar/>

<main>
  <div class="w-100 d-inline-flex justify-content-between px-5 my-4">
    <input type="text" class="form-control w-25" placeholder="Pesquisar" aria-label="Pesquisar" aria-description="Digite aqui o usuario que voce quer pesquisar"/>
    <div>
      <button class="btn btn-outline-success" (click)="openModalHandleTask(TaskModalTypeEnum.ADD)">
        Adicionar
      </button>
    </div>
  </div>

  <div class="w-100">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Titulo</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Pago</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskList">
          <td>{{ task.username }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.date }}</td>
          <td>{{ task.value }}</td>
          <td>{{ task.isPayed }}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="openModalHandleTask(TaskModalTypeEnum.EDIT, task)">
              Editar
            </button>
            <button class="btn btn-danger" (click)="deleteTask(task.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-task-modal #taskModalSelector/>
  <app-delete-payment-modal #deletePaymentModalSelector/>
</main>
