<app-top-bar/>

<main class="dashboard__container">

  <div class="container pt-5 pb-3">
    <h2>Meus Pagamentos</h2>
  </div>

  <div class="dashboard__payments-container mx-5">
    <div class="w-100 d-inline-flex justify-content-between px-5 my-4 dashboard__filter-container">
      <div class="d-inline-flex align-items-center me-auto dashboard__form-fieldset">
        <form [formGroup]="searchForm" (ngSubmit)="searchPayment(username)">
          <fieldset class="d-inline-flex align-items-center dashboard__input-search">
            <input
              type="text"
              class="form-control dashboard__input-search-input"
              name="username"
              formControlName="username"
              placeholder="Pesquisar usuário"
              aria-label="Pesquisar usuário"
              aria-description="Digite aqui o usuário que você quer pesquisar"/>
            <span class="dashboard__input-search-icon">
              <ng-container *ngIf="filterApplied; else searchIcon">
                <button
                  type="reset"
                  class="btn btn-link p-0 "
                  aria-label="Botão para limpar barra de busca"
                  id="btnClearSearch"
                  (click)="clearSearch()">
                  <i class="bi bi-x-lg text-danger"></i>
                </button>
              </ng-container>
              <ng-template #searchIcon>
                <i class="bi bi-search"></i>
              </ng-template>
            </span>
          </fieldset>
        </form>
        <button class="d-inline-flex align-items-center dashboard__btn-filter" (click)="searchPayment(username)">
          <i class="dashboard__btn-filter-icon bi bi-filter"></i>
          <span>Filtrar</span>
        </button>
      </div>
      <div>
        <button class="btn btn-primary d-inline-flex align-items-center dashboard__form-button-add"
                (click)="openModalHandlePayment(PaymentModalTypeEnum.ADD)">
          <i class="bi bi-plus-circle me-2"></i>
          <span>Novo pagamento</span>
        </button>
      </div>
    </div>

    <div class="dashboard__table table-responsive">
      <table class="table">
        <thead>
        <tr class="dashboard__table-tr-head">
          <th></th>
          <th (click)="organizer('username')">
            <span>Usuário</span>
            <i class="bi bi-arrow-down-up ms-2"></i>
          </th>
          <th (click)="organizer('title')">
            <span>Título</span>
            <i class="bi bi-arrow-down-up ms-2"></i>
          </th>
          <th (click)="organizer('date')">
            <span>Data</span>
            <i class="bi bi-arrow-down-up ms-2"></i>
          </th>
          <th (click)="organizer('value')">
            <span>Valor</span>
            <i class="bi bi-arrow-down-up ms-2"></i>
          </th>
          <th (click)="organizer('isPayed')">
            <span>Pago</span>
            <i class="bi bi-arrow-down-up ms-1"></i>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let payment of paymentList">
          <td>
            <ng-container *ngIf="payment.image">
              <img [src]="payment.image" width="32px" height="32px" alt="Imagem do usuário do pagamento"
                   style="border-radius: 25px;">
            </ng-container>
          </td>
          <td>{{ payment.username }}</td>
          <td>{{ payment.title }}</td>
          <td>{{ moment(payment.date).format('DD/MMM/YYYY hh:mm') }}</td>
          <td>{{ payment.value | currency: 'BRL':'symbol' }}</td>
          <td>
            <div class="form-check w-100 d-inline-flex">
              <input
                class="form-check-input"
                type="checkbox"
                [checked]="payment.isPayed"
                (change)="onCheckPaymentChange(payment)"
                id="flexCheckDefault">
            </div>
          </td>
          <td>
            <div class="w-100 d-inline-flex justify-content-center">
              <button
                type="button"
                class="dashboard__table-btn-edit"
                title="Editar pagamento"
                aria-label="Editar pagamento"
                (click)="openModalHandlePayment(PaymentModalTypeEnum.EDIT, payment)">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button
                class="dashboard__table-btn-delete"
                title="Deletar pagamento"
                type="button"
                aria-label="Deletar pagamento"
                (click)="openModalDeletePayment(payment)">
                <i class="bi bi-x-circle"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-danger container" role="alert" *ngIf="!!error">
      {{ error }}
    </div>
    <div class="w-100 container d-flex justify-content-end align-items-center">
      <div class="d-inline-flex align-items-center me-4">
        <label for="totalItemsToShow" class="me-2">Exibir</label>
        <select id="totalItemsToShow" (change)="changeItemsPerPage($event)" class="form-select"
                aria-label="Quantidade de pagamentos à serem exibidos">
          <ng-container *ngFor="let item of rowsNumber">
            <option [value]="item" [selected]="item === pagination.itemsPerPage">{{ item }}</option>
          </ng-container>
        </select>
      </div>
      <app-paginator
        [pagination]="pagination"
        (changePageEvent)="changePage($event)">
      </app-paginator>
    </div>
  </div>

  <app-payment-modal #paymentModalSelector (onPaymentEdited)="handlePaymentEdited($event)"/>
  <app-delete-payment-modal #deletePaymentModalSelector (deletePaymentEvent)="handleDeletePaymentEvent($event)"/>

</main>
