<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="taskModalTitle"
  #deletePaymentModalSelector
>
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="taskModalTitle">
          Excluir Pagamento
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="alert alert-danger" role="alert" *ngIf="!!error">
          {{ error }}
        </div>

        <ng-container *ngIf="data">
          <p
            aria-label="Nome do usuário"
            role="contentinfo"
          >
            Usuário: {{ data.name || '' }}
          </p>
          <p
            aria-label="Data do pagamento"
            role="contentinfo"
          >
            Data: {{ data.date | date: 'dd/MM/yyyy' }}
          </p>
          <p
            aria-label="Valor do pagamento"
            role="contentinfo"
          >
            Valor: {{ data.value | currency: 'BRL' }}
          </p>
        </ng-container>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="btnCloseModal"
          class="btn btn-secondary"
          (click)="close()"
        >
          Cancelar
        </button>
        <button
          type="button"
          id="btnDeletePayment"
          class="btn btn-outline-danger"
          (click)="deletePayment(data)"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
